body {
  margin: 0;
  padding: 0;
  background-color: #F9F8F6;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.connect-button {
  display: flex;
  justify-content: end;
}

.mintable-table {
  width: 100%;
  text-align: right;
  & td {
    padding-bottom: .25em;
  }
  & tr > *:first-child {
    text-align: left;
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating .5s linear infinite;
}

.char {
  display: inline-block;
  width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  background-color: #C962A0;
  display: flex;
  color: white; 
  align-items: center;
}
.nav-bar a {
  padding-right: 1em;
  color: white;
  text-decoration: none;
}

.nav-bar.footer {
  width: 100%;
  justify-content: center;
  flex: 0 1;
  padding: 1em 0;
}
.nav-bar.footer a, .nav-bar.footer a:hover {
  font-weight: 300;
}

.home-header {
  background-color: #C962A0;
  text-align: center;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 100px 0;
}

.hero {
  color: white;
  font-size: 300%;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero-subheader {
  color: white;
  font-size: 150%;
}
.hero-search {
  max-width: 300px;
  margin: 0 auto;
}

.main-center-wrapper {
  text-align: center;
  padding: 1em 0;
}

.main-center {
  max-width: 600px;
  min-width: 300px;
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  padding: 0 1em;
}

.main-center h2 {
  text-align: center;
  font-weight: 500;
}

.mint-connect-button > div:first-child {
  display: inline-block;
  font-weight: bold;
}

a, a:visited, a:hover {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

button {
  background-color: #C962A0;
  color: white;
  font-family: inherit;
  font-weight: bold;
  padding: .5em 1em;
  border: 0px;
  border-radius: 500px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: .50;
}
